appnope==0.1.3
APScheduler==3.10.4
asttokens==2.4.1
beautifulsoup4==4.12.2
branca==0.7.0
certifi @ file:///private/tmp/python-certifi-20231117-4919-2f0o9m/certifi-2023.11.17
cffi @ file:///private/tmp/cffi-20231014-5567-1hyue8f/cffi-1.16.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
comm==0.2.0
configobj==5.0.8
configparser==6.0.0
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
distlib @ file:///private/tmp/python-distlib-20231124-5231-2n0vb3/distlib-0.3.7
et-xmlfile==1.1.0
etelemetry==0.3.1
executing==2.0.1
filelock @ file:///private/tmp/python-filelock-20231112-5622-k62fq8/filelock-3.13.1/dist/filelock-3.13.1-py3-none-any.whl#sha256=57dbda9b35157b05fb3e58ee91448612eb674172fab98ee235ccb0b5bee19a1c
fitz==0.0.1.dev2
folium==0.15.1
fonttools==4.45.1
future==0.18.3
geographiclib==2.0
geopy==2.4.1
httplib2==0.22.0
idna==3.6
ipykernel==6.27.1
ipython==8.18.1
isodate==0.6.1
jedi==0.19.1
Jinja2==3.1.2
jupyter_client==8.6.0
jupyter_core==5.5.0
kiwisolver==1.4.5
looseversion==1.3.0
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
nest-asyncio==1.5.8
networkx==3.2.1
nibabel==5.1.0
nipype==1.8.6
numpy==1.26.2
openpyxl==3.1.2
packaging @ file:///private/tmp/python-packaging-20231018-5368-zv724j/packaging-23.2
pandas==2.1.3
parso==0.8.3
pathlib==1.0.1
pexpect==4.9.0
Pillow==10.1.0
platformdirs @ file:///private/tmp/python-platformdirs-20231124-8775-x8oz64/platformdirs-4.0.0
prompt-toolkit==3.0.41
prov==2.0.0
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser @ file:///private/tmp/pycparser-20231013-5787-1anpge2/pycparser-2.21
pydot==1.4.2
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyxnat==1.6
pyzmq==25.1.1
rdflib==7.0.0
requests==2.31.0
scipy==1.11.4
seaborn==0.13.0
simplejson==3.19.2
six==1.16.0
soupsieve==2.5
stack-data==0.6.3
tornado==6.4
traitlets==5.14.0
traits==6.3.2
tzdata==2023.3
tzlocal==5.2
urllib3==2.1.0
wcwidth==0.2.12
xyzservices==2023.10.1
